* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    list-style-type: none;
    color: black;
    text-decoration: none;
}

.head {
    width: 100%;
    height: 146px;
    overflow: hidden;
    background: #03A5F5;
}

.head img {
    width: 100%;
    height: 142px;
    
}

nav {
    width: 100%;
    height: 60px;
    /* background: #333; */
}

nav ul {
    margin-left: 60px;
}

nav li {
    float: left;
    margin: 0 10px;
    position: relative;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 60px;
    line-height: 60px;
}

li ul {
    position: absolute;
    left: 0;
    /* top: 50px; */
    height: 0px;
    overflow: hidden;
}

nav li a:hover {
    background: #0365AC;
    color: white;
}

ul li ul li:hover,
ul li ul li a:hover {
    background: rgb(247, 121, 4);
    color: white;
}

li ul li {
    background: #0062ac;
    width: 300px;
    text-align: center;
    cursor: pointer;
    
}

li ul li a {
    color: white;
    font-size: 16px;
}

.lastul li {
    width: 200px;
}

#webhead {
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0px auto;
    overflow: hidden;
}

#img_box {
    width: 100%;
    height: 450px;
    /* border: 1px solid #999999; */
    position: absolute;
    top: 0px;
    /* left:-14%; */
    left: 0px;
    overflow: hidden;
}

#imgs {
    transition: 1s;
    width: 400%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#imgs img {
    width: 100%;
    height: 450px;
    float: left;
}

.tnews {
    margin: 60px 0 30px 50px;
    font-size: 35px;
    color: #0062AC;
}

.news {
    width: 96%;
    height: 300px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.left,
.right,
.middle {
    width: 30%;
    height: 300px;
    margin-left: 31px;
    /* background: #C2B8B8; */
    float: left;
}

.left img,
.middle img {
    width: 100%;
    height: 230px;
    cursor: pointer;
    opacity: 1;
    display: block;
}

.left p,
.middle p {
    margin-top: 5px;
    font-size: 19px;
    font-weight: bold;
}

.left img:hover,
.middle img:hover {
    transition: all 2s;
    opacity: 0.6;
    transform: scale(1.1);
}

.left p:hover,
.middle p:hover {
    color: #05558F;
}

.right ul li {
    width: 100%;
    height: 42px;
    margin-bottom: 25px;
}

.right ul li:hover a {
    color: #0062AC;
}

.right ul li:hover span {
    background: #0062AC;
}

.bluediv {
    width: 42px;
    height: 42px;
}

.bluediv span {
    font-size: 12px;
    color: white;
    display: inline-block;
    padding: 8px;
    line-height: 14px;
    background: #3381BD;
}

.right li a {
    font-size: 15px;
    margin-left: 50px;
    display: inline-block;
    float: left;
    margin-top: -42px;
    color: #333;
}

.right a {
    color: #0062AC;
    font-size: 14px;
}

.school {
    width: 96%;
    height: 560px;
    background: #E2F3FF;
    margin-left: 30px;
    margin-bottom: 30px;
}

.school .xisuo {
    margin: 20px 10px;
}

.vr {
    width: 100%;
    height: 180px;
    background: #00AFA2;
}

.leftb img:hover {
    transition: all 1s;
    opacity: 1;
    transform: scale(1.0);
    transform: rotate(9deg);
}

.vr_txt {
    padding: 20px 20px 42px;
}

.vr_txt h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: wheat;
}

.vr_txt h2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    color: wheat;
}

.vr_txt span {
    font-size: 14px;
    color: #eff8f7;
    line-height: 25px;
}

.wordOverflow {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.middle2,
.right2 {
    width: 30%;
    height: 480px;
    margin-left: 31px;
    /* background: #C2B8B8; */
    float: left;
}

.hi {
    width: 70px;
    height: 70px;
    /* display: block; */
    background: url(../img/in_14.png) center center no-repeat;
    text-align: center;
    float: left;
    line-height: 35px;
    padding-top: 1px;
    margin-bottom: 15px;
    
}
.hi span{
    font-size: 15px;
    display: block;
    padding-top: 3px;
}
.hi p{
    font-size:15px;
    color: white;
}
.ospan{
    float: left;
    width: 310px;
    height: 72px;
    margin-top: -65px;
    margin-left: 86px;
}
.ospan span,.ospan p{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.ospan p{
    color: #0062AC;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ospan div{
    font-size: 14px;
}
.xueshu{
    margin-top: -63px;
    margin-left: 920px;
}

.right2 img{
    width: 363px;
    height: 230px;
    position: relative;
    display: block;
    

}
.right2 .mengban{
    width: 363px;
    height: 50px;
    background: rgba(231, 235, 16, 0.82);
    position: absolute;
    top: 230px;
    ;
    
}
.wai{
    width: 363px;
    height: 230px;
    position: relative;
    overflow: hidden;
}
.wai:hover .mengban{
    transition:all 1s;
    top: 180px;
}
.mengban img{
    width: 31px;
    height: 31px;
    margin: 10px 28px;
    float: left;
    font-weight: bold;
}
.mengban div{
    float: left;
    margin-top: 12px;
    color: white;
    font-weight: bold;
}
.right2 span {
	color: #333;
	font-size: 16px;
	display: block;
	padding-top: 20px;
}

.right2 h4 {
	font-size: 20px;
	font-weight: bold;
    margin: 10px 0 15px;
    cursor: pointer;
}

.right2 p {
	color: #595959;
	line-height: 23px;
	font-size: 15px;
    text-indent: 30px;
    cursor: pointer;
}
.hoverr:hover h4{
    color: #0062ac;
}
.right2 p:hover{
    color: black;
}
/* 小轮播图 */
.in_qs {
	margin-top: 20px;
}

.in_qs .bd ul li {
	position: relative;
	text-align: center;
}

.in_qs .bd ul li h2 {
    color: #0062ac;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 10px;
}

.in_qs .bd ul h1 {
	height: 213px;
	overflow: hidden;
}

.in_qs .hd {
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
}

.in_qs .hd ul {
	text-align: center;
}

.in_qs .hd li {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	display: inline-block;
	margin: 0 4px;
	cursor: pointer;
	text-indent: 1000px;
	opacity: 0.8;
	border: 2px solid #0062ac;
}

.in_qs .hd li.on {
	background: #0062ac;
}

footer {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background: url(../img/footer.jpg);
	height: 180px;
}

.main {
	width: 80%;
	margin: 0px auto;
}

.main .leftfoot {
	width: 80%;
	font: 16px "宋体";
	text-decoration: none;
	text-align: center;
	position: absolute;
}

.main .leftfoot .bar {
	padding: 20px 0;
	color: #FFFFFF;
    margin-top: 35px;
}

footer .main .leftfoot .bar ul {
	float: left;
	list-style: none;
}

footer .main .leftfoot .bar ul>li {
	float: left;
	margin-right: 10px;
	font-size: 15px;
	padding: 0 10px;
	margin-bottom: 20px;
}

.p{
	clear: both;
	font-size: 15px "宋体";
    text-align: left;
   
}
.p p{
    margin-bottom: 10px;
    color: wheat;
}

.rightfoot{
	width: 20%;
	float: right;
	color: #FFFFFF;
	margin-top: 20px;
}
.rightfoot span{
    color: wheat;
    margin-bottom: 10px;
}
.rightfoot img {
	height: 130px;
	width: 130px;
}